@fontTitle : 'Moon';
@fontText : 'KhmerUI';
@headerHeight : 45px; /* image size + margin */
@bgImage : "./assets/texture2.png";
@darkBlue : #212D48;
@lightBlue : #49556d;
@lightGrey : #edeef0;

ul, li {
  margin: 0;
  padding: 0;
}


h1, h2 {
    text-align:center;
    font-weight : bold;
    color:@darkBlue;
    font-family: @fontTitle;
}

h1 {
    font-size:1.5em;
    letter-spacing: 0.3em;
    margin: .6em;
}

h2 {
    font-size:0.9em;
    letter-spacing: 0.2em;
    margin: .4em;
}

h2.white {
  background-color: #FFF;
}
ul li{
  list-style-type: none;
}
ul{
  padding:0;
}
fieldset{
 border:none;
}
.button_validation button{
  position:absolute;
  display:block;
  color:white;
  width:180px;
  font-size:1.5em;
  background-color:rgb(55, 68, 94);
  box-shadow : 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding:0.3em;
  left:0;
  right:0;
  margin:auto;
}
.img_button{
  width:20px;
  padding-top:3px;
  display:block;
  margin:auto;
}
.trait{
   width:80%;
   margin:auto;
   background-color:#dbdbdb;
   margin-top:5px;
   height:2px;
}
